@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #5eead4;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

